.navbar{
    background-color: #395B64;
    margin-bottom: 80px;
    
    
}

.nav-link{
    color: #E7F6F2;
}

.navbar-brand{
    color: #E7F6F2;
}

body{
    background-color:white;
}

#welcome-display{
    background-color: #A5C9CA;
    color:black;
}


